<h4 class="home-section-title">Uber Scuuter Plus New Features:</h4>
<ul>
<li>Bigger Motor! Rated Power: 48V 350W<span>  <span style="color: #6aa84f;"><strong>*New*</strong></span></span></li>
<li>A Wider, Memory Foam Seat<span>  <span style="color: #6aa84f;"><strong>*New*</strong></span></span></li>
<li>MPH instead of Kilometers <span style="color: #6aa84f;"> <strong>*New*</strong></span></li>
<li>LG Removable Battery <strong><span style="color: #6aa84f;">*New*</span></strong></li>
</ul>