<h4 class="home-section-title">Specifications:</h4>
<ul>
<li>Weight: 39lbs</li>
<li>Max Load Weight: 264lbs</li>
<li>Unfold size: 3.9ft x 2ft x 3.2ft</li>
<li>Fold size: 4ft x 1.7ft x .88ft</li>
<li>Charge Time: 3-5 Hours</li>
<li>Includes charge adapter rated at 100-240V 50/60 Hz. Use any standard US power outlet to charge.</li>
</ul>